/* CircularCarousel.css */
.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-scroll {
  display: flex;
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  white-space: nowrap;
}

.carousel-slide {
  flex: 0 0 100%;
  position: relative;
}

.carousel-scroll::-webkit-scrollbar {
  display: none; /* Hide scrollbar for webkit browsers */
}

.description-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.description-container .text-md {
  font-size: 2rem;
}

.description-container .text-base {
  font-size: 1rem;
}
