@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Barlow", default;
}

/* Apply some basic styles */
html,
body {
  width: 100%;
  height: 100%;
  font-family: "Barlow", default;
  background-color: #fff;
  color: #000;
}
.video-banner {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

::-webkit-scrollbar {
  display: none;
}

@keyframes marquee {
  from {
    transform: translateX(50%);
  }

  to {
    transform: translateX(-100%);
  }
}

.navbar-underline-animation {
  @apply relative select-none text-[1rem] sm:text-[1.25rem] leading-[1.75rem];
}
.common-heading {
  @apply md:text-lg text-[2rem]  lg:text-[1.5rem] xl:text-[2.5rem] font-semibold  text-[#282828];
}
.common-description {
  @apply text-[#282828] text-base md:text-base lg:text-[1rem] xl:text-[1.1rem]  lg:leading-[1.75rem];
}

/* .rfm-child img {
  object-fit: contain !important;
} */
.common-blur {
  @apply backdrop-blur-lg;
  -webkit-backdrop-filter: blur(16px) brightness(50%);  
}

.navbar-underline-animation::after {
  @apply absolute w-0 h-0.5 left-0 -bottom-1 bg-[#fb511e] opacity-0;
  content: "";
  transition: all 1s ease;
}

.navbar-underline-animation:hover::after {
  width: 100%;
  opacity: 1;
}

.reactCarousel .carousel .control-dots .dot {
  display: none;
}

/* Our Awards carousel: ensure list and items have height so images show */
.awards-carousel-full.react-multi-carousel-list {
  height: 100%;
}
.awards-carousel-full .react-multi-carousel-track {
  height: 100%;
  align-items: stretch;
}
.awards-carousel-full .react-multi-carousel-item {
  height: 100%;
  display: flex;
}
.awards-carousel-item-full {
  height: 100% !important;
  width: 100%;
}

.awards-scroll-hide::-webkit-scrollbar {
  display: none;
}

/* .section-2 .text-1 {
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
} */

/* Add this to your CSS file */
.hamburger-wrapper:hover .hamburger-react > div > div {
  background-color: #fb511e !important;
}

.socialIconCustomColor .social-svg-icon {
  fill: #d7dcd7 !important;
  /* color: #; */
}

.socialIconCustomColor:hover .social-svg-icon {
  fill: #fb511e !important;
}

.section-spaced {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

@media screen and (max-width: 991px) {
  .section-spaced {
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 768px) {
  .clip-path-md {
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
    -moz-clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
    -o-clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
  }

  .clip-path-right-md {
    clip-path: polygon(17.7% 0, 100% 0, 100% 100%, 0% 100%);
    -webkit-clip-path: polygon(17.7% 0, 100% 0, 100% 100%, 0% 100%);
    -moz-clip-path: polygon(17.7% 0, 100% 0, 100% 100%, 0% 100%);
    -o-clip-path: polygon(17.7% 0, 100% 0, 100% 100%, 0% 100%);
  }
  .clip-path-left-md {
    clip-path: polygon(0 0, 82% 0, 100% 100%, 0% 100%);
    -webkit-clip-path: polygon(0 0, 82% 0, 100% 100%, 0% 100%);
    -moz-clip-path: polygon(0 0, 82% 0, 100% 100%, 0% 100%);
    -o-clip-path: polygon(0 0, 82% 0, 100% 100%, 0% 100%);
  }
 
}
@media screen and (min-width: 1069px) {
 
  .clip-path-csr {
    clip-path: polygon(0 0, 5% 0, 57% 100%, 0% 100%);
    -webkit-clip-path: polygon(0 0, 5% 0, 57% 100%, 0% 100%);
    -moz-clip-path: polygon(0 0, 5% 0, 57% 100%, 0% 100%);
    -o-clip-path: polygon(0 0, 5% 0, 57% 100%, 0% 100%);
  }
}

.pswp img {
  object-fit: contain;
}
@media (max-width: 640px) {
  .common-heading {
    line-height: normal; /* Reset to default or set a specific value */
  }
}
